body {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

.container {
    text-align: center;
}

a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

a:hover {
    background-color: lightgray;
    color: black;
}

img {
    margin-top: 10px;
    margin-bottom: 5px;
}